</div>
<div id="footer">
	<br/>
	Association Picarde des Utilisateurs de Logiciels Libres (EPPLUG) ­ Association régie par la loi 1901<br/>
	67, rue des quatres lemaire, c/o Jean Charles Delepine, 80 000 AMIENS<br/>

	Parution au Journal Officiel le 21/06/03 sous le n° 20030025 ­ Siren : 494 525 280<br/>
	contact email : bureau (AT) epplug.org<br/>
</div>
